* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
button {
  border: none;
}
button:focus {
  outline: none;
}
body {
  width: 100%;
  overflow-x: hidden;
  background-color: #1d1d1e;
}
.container {
  padding: 0 20px 0 20px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid transparent;
}
.page-header {
  height: 50px;
  background-color: #202020;
}
.page-header__wrap {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 100%;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}
.page-header__wrap > * {
  display: inline-block;
}
.page-header__logo a {
  height: 100%;
  display: flex;
  align-items: center;
}
.page-header__logo-title {
  display: none;
}
.page-header__phone {
  display: none;
}
.page-header__nav {
  position: absolute;
  z-index: 100;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 100vw;
  padding-top: 65px;
  background-color: #292929;
  transition: right 0.3s linear;
  color: #fff;
  font-size: 26px;
  line-height: 30px;
}
.page-header__nav.active {
  right: 0;
}
.page-header__nav-list {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 0 20px;
}
.page-header__nav-item {
  margin-bottom: 20px;
}
.page-header__nav-item a {
  color: inherit;
  text-decoration: none;
}
.page-header__btn-nav {
  position: relative;
  z-index: 200;
  width: 35px;
  height: 35px;
  border-radius: 100px;
  background: #292929;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
  align-self: center;
  cursor: pointer;
}
.page-header__btn-nav i::before,
.page-header__btn-nav i::after,
.page-header__btn-nav i {
  width: 17px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  background-color: #ffffff;
  transition: transform 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
}
.page-header__btn-nav i::before {
  top: calc(50% - 4px);
  display: block;
  position: absolute;
  content: "";
}
.page-header__btn-nav i::after {
  top: calc(50% + 4px);
  display: block;
  position: absolute;
  content: "";
}
.page-header__btn-nav.active i {
  transform: translate(-50%, -50%) rotate(45deg);
}
.page-header__btn-nav.active i::after {
  top: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}
.page-header__btn-nav.active i::before {
  visibility: hidden;
}
.promo {
  background-color: #1c1c1c;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../img/bg-mb-1.png");
  background-size: 100% 100%;
  text-align: center;
  color: #ffffff;
}
.promo__text {
  padding: 20px 0 20px 0;
  text-align: left;
}
.promo__text h2 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 12.5492px;
  line-height: 15px;
  color: #FF834E;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.promo__text h2 .icon-cart {
  display: inline-block;
  width: 10.4px;
  height: 10.4px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../img/cart.png");
  background-size: contain;
  background-color: transparent;
  margin-right: 3px;
}
.promo__text-big {
  font-weight: bold;
  font-size: 20.7996px;
  line-height: 28px;
  color: #ffffff;
}
.promo__text-small {
  display: none;
}
.promo__image {
  position: relative;
  height: 250px;
  width: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-image: url("../img/bg-circle.png");
  background-size: 200px 200px;
}
.promo__image::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  display: inline-block;
  width: 298px;
  height: 385px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../img/bg-e.png");
  background-size: contain;
  background-color: transparent;
  z-index: 0;
  content: "";
  left: 75%;
  top: 30%;
}
.promo__image img {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.promo__callback {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  width: 100%;
  max-width: 280px;
}
.promo__callback p {
  padding-top: 10px;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  opacity: 0.5;
}
.promo__callback :hover {
  background-color: #de774b;
}
.promo__callback-btn {
  position: relative;
  background-color: #FF834E;
  padding: 15px;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: left;
  overflow: hidden;
  transition: all 0.3s ease;
}
.promo__callback-btn:hover {
  opacity: 0.7;
}
.promo__callback-btn_desktop {
  display: none;
}
.promo__callback-btn::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../img/promo_arrow.png");
  background-size: contain;
  background-color: transparent;
  right: 5px;
  left: auto;
  z-index: 10;
}
.promo__callback-btn::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 52px;
  width: 47px;
  background-color: #de774b;
}
.how-work {
  background-color: #ffffff;
}
.how-work .container {
  padding: 0;
}
.how-work h2 {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  font-weight: normal;
  color: #393939;
  text-transform: uppercase;
  padding: 39px 38px 9px 40px;
}
.how-work__list {
  position: relative;
  margin-bottom: 15px;
  padding-left: 30px;
  list-style-type: none;
}
.how-work__list::before {
  display: block;
  position: absolute;
  content: "";
  left: 15px;
  transform: translateX(-50%);
  height: calc(100% - 53px);
  width: 5px;
  margin: 27px 0 26px 0;
  box-sizing: border-box;
  background-image: repeating-linear-gradient(#929292 0, #929292 5px, transparent 5px, transparent 20px);
}
.how-work__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 15px 15px 0;
}
.how-work__item input[type=checkbox] {
  display: none;
}
.how-work__item input[type=checkbox]:checked + .row > .how-work__item-number {
  color: #FF834E;
}
.how-work__item input[type=checkbox]:checked + .row > .how-work__item-more i {
  transform: rotate(-180deg);
}
.how-work__item input[type=checkbox]:checked ~ .how-work__item-text {
  display: block;
}
.how-work__item .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.how-work__item-number {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.05em;
  color: #393939;
  transition: color 0.3s ease;
}
.how-work__item-title {
  flex-grow: 1;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  padding-left: 11px;
  color: #393939;
}
.how-work__item-text {
  display: none;
  font-size: 11px;
  line-height: 17px;
  color: #393939;
  padding: 10px 26px 5px 0;
}
.how-work__item-more span {
  display: none;
}
.how-work__item-more .icon-arrow {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../img/how-work_arrow.png");
  background-size: contain;
  background-color: transparent;
  transform: rotate(0);
  transition: transform 0.3s ease;
}
.how-work__item:last-of-type {
  border-bottom: none;
}
.features {
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../img/bg-mb-2.png");
  background-size: 100% 100%;
}
.features-images {
  display: none;
}
.features-content {
  padding: 40px 0 0 0;
}
.features-content__logo {
  display: none;
}
.features-content__item {
  position: relative;
  padding: 20px 0 40px 0;
}
.features-content__item h3 {
  padding: 5px 0 30px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}
.features-content__item p {
  font-size: 12px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}
.features-content__item::after {
  display: block;
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 200px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.features-content__item:last-of-type::after {
  border: none;
}
.features-content__image {
  height: 240px;
}
.features-content__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.features__buttons {
  display: none;
}
.cases {
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../img/bg-mb-3.png");
  background-size: 100% 100%;
}
.cases__h2 {
  padding: 80px 0 30px 0;
  font-weight: normal;
  font-size: 20.8px;
  line-height: 25px;
  color: #ffffff;
  text-transform: uppercase;
}
.cases__h2_desktop {
  display: none;
}
.cases__item {
  position: relative;
  background: rgba(20, 20, 20, 0.6);
  border-radius: 4.24272px;
  padding: 17px;
  margin-bottom: 40px;
  transition: all 0.3s ease;
}
.cases__item:hover {
  margin-bottom: 57px;
}
.cases__item:hover::after {
  opacity: 1;
}
.cases__item::after {
  display: block;
  position: absolute;
  content: "";
  opacity: 0;
  left: 0;
  bottom: -17px;
  height: 6.8px;
  width: 100%;
  border-radius: 5.93981px;
  background-color: #de774b;
  box-shadow: 0 1.69709px 3.39417px rgba(222, 155, 85, 0.4);
  transition: all 0.3s ease;
}
.cases__item-image {
  border-radius: 2.54563px;
  height: 150px;
  overflow: hidden;
}
.cases__item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cases__item-title {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 22.0621px;
  line-height: 26px;
  color: #ffffff;
  margin: 10px 0 8px 0;
}
.cases__item-type {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 15.2738px;
  line-height: 18px;
  color: #ffffff;
  opacity: 0.8;
}
.cases__feedback {
  position: relative;
  background: url("../img/cases_bg_love.png") 110% 0 no-repeat, linear-gradient(156.01deg, #8D5DCC -128.51%, #55329E 221.38%);
  box-shadow: 0 5px 10px rgba(94, 56, 158, 0.35);
  border-radius: 3px;
  margin: 0 auto 80px auto;
  padding: 33px 21px 34px 15px;
  width: 100%;
}
.cases__feedback-modal {
  margin: 31px 3px 0 6px;
  border: 2.85853px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4.76421px;
  padding: 13px;
  text-align: center;
  background-color: transparent;
  color: #ffffff;
  font-weight: bold;
  font-size: 13.3398px;
  line-height: 16px;
  width: 100%;
}
.cases__feedback-text {
  display: flex;
  align-items: flex-start;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  color: #ffffff;
}
.cases__feedback-text .icon-love {
  display: inline-block;
  width: 43px;
  height: 43px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../img/cases_icon_love.png");
  background-size: contain;
  background-color: transparent;
  flex-shrink: 0;
  margin-right: 20px;
}
.cases__feedback::after {
  display: block;
  position: absolute;
  content: "";
  left: 50%;
  bottom: -40px;
  transform: translateX(-50%);
  width: 200px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.clients {
  padding-bottom: 80px;
  text-align: center;
}
.clients h2 {
  margin-top: 60px;
  margin-bottom: 40px;
  font-weight: normal;
  font-size: 20.8px;
  line-height: 25px;
  color: #ffffff;
  text-align: center;
}
.clients__slider {
  position: relative;
  overflow: hidden;
  height: 210px;
}
.clients__list {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  transition: left 0.3s ease;
}
.clients__item {
  position: relative;
  min-width: calc(100vw - 40px);
  height: 210px;
  text-align: center;
}
.clients__item-number {
  display: none;
}
.clients__item-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  position: relative;
  width: 210px;
  height: 210px;
  border-radius: 1000px;
  background-color: #ffffff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.clients__item-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  width: 80%;
  height: 80%;
  object-fit: contain;
}
.clients__toggle {
  margin-top: 55px;
  width: 135px;
  display: inline-flex;
  justify-content: space-between;
}
.clients__toggle_left {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../img/clients_toggle.png");
  background-size: contain;
  background-color: transparent;
}
.clients__toggle_right {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../img/clients_toggle.png");
  background-size: contain;
  background-color: transparent;
  transform: rotate(180deg);
}
.feedback {
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../img/bg-mb-4.png");
  background-size: 100% 100%;
}
.feedback .icon-plus {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../img/icon-plus.png");
  background-size: contain;
  background-color: transparent;
  margin-right: 3px;
}
.feedback__content-text-prime {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #FF834E;
}
.feedback__content-text-info {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin-bottom: 57px;
}
.feedback__content-box {
  margin: 30px 0 30px 0;
  padding: 20px 22px 21px 11px;
  border: 2px solid #EF8B54;
}
.feedback__content-box p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  padding-bottom: 16px;
}
.feedback__list {
  list-style-type: none;
  color: #ffffff;
}
.feedback__item {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  padding-bottom: 8px;
}
.feedback__form {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 15px 10px;
  margin-bottom: 85px;
}
.feedback__form textarea,
.feedback__form input {
  background: #F6F6F6;
  border: 0.5px solid #D0D0D0;
  padding: 13px 15px;
  font-size: 14px;
  line-height: 17px;
  color: #595959;
  box-sizing: border-box;
  width: 100%;
}
.feedback__form textarea {
  height: 80px;
}
.feedback__form button {
  background: linear-gradient(158.11deg, #DE9B55 -8.73%, #EE5432 93.23%);
  box-shadow: 0 4px 4px rgba(222, 155, 85, 0.3);
  width: 100%;
  box-sizing: border-box;
  padding: 14px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
.feedback__form-group {
  margin-bottom: 15px;
}
.feedback__form-group_captcha img {
  height: 50px;
  width: auto;
}
.feedback__form-group_captcha img.desktop {
  display: none;
}
.feedback__form-group_checkbox {
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
}
.feedback__form-group_checkbox input[type=checkbox] {
  display: none;
}
.feedback__form-group_checkbox input[type=checkbox]:checked ~ label::after {
  opacity: 1;
}
.feedback__form-group_checkbox label {
  position: relative;
  display: block;
  padding-left: 36px;
}
.feedback__form-group_checkbox label::before {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #D0D0D0;
  border-radius: 2px;
}
.feedback__form-group_checkbox label::after {
  display: block;
  position: absolute;
  content: "";
  display: inline-block;
  width: 15px;
  height: 11px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../img/icon-chbx.png");
  background-size: contain;
  background-color: transparent;
  top: 6px;
  left: 5px;
  opacity: 0;
  transition: opacity 0.15s ease;
}
.page-footer {
  background-color: #2e2e2e;
  padding: 40px 0;
  text-align: center;
  color: #ffffff;
}
.page-footer h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  opacity: 0.5;
  padding-bottom: 14px;
}
.page-footer ul {
  list-style-type: none;
}
.page-footer li {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 14px;
}
.page-footer a {
  text-decoration: none;
  color: #ffffff;
}
.page-footer__logo {
  height: 66px;
  width: auto;
  margin-bottom: 50px;
}
.page-footer__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.page-footer__contacts {
  margin-bottom: 30px;
}
.page-footer__social {
  margin-bottom: 40px;
}
.page-footer__map {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}
.page-footer__map-img {
  width: 80px;
  height: 80px;
}
.page-footer__map-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.page-footer__map-text {
  position: relative;
  font-weight: lighter;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}
.page-footer__map-text::after {
  display: block;
  position: absolute;
  content: "";
  display: inline-block;
  width: 20px;
  height: 48px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../img/icon-footer-arrow.png");
  background-size: contain;
  background-color: transparent;
  top: -3px;
  right: -45px;
}
@media screen and (min-width: 720px) {
  .page-header {
    height: 75px;
  }
  .page-header__wrap {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1410px;
    margin: 0 auto;
  }
  .page-header__logo-icon {
    height: 32px;
    width: auto;
  }
  .page-header__logo-title {
    display: block;
    padding: 20px;
  }
  .page-header__nav {
    width: 320px;
  }
  .promo {
    position: relative;
    background-color: #161616;
    background-image: url("../img/bg-1-promo.png");
    background-position: center center;
    background-size: cover;
    color: #ffffff;
  }
  .promo .container {
    position: relative;
    max-width: 860px;
    margin: 0 auto;
  }
  .promo__text {
    padding: 60px 0 80px 0;
    max-width: 450px;
  }
  .promo__text h2 {
    font-size: 18px;
    line-height: 20px;
  }
  .promo__text h2 .icon-cart {
    width: 15px;
    height: 15px;
  }
  .promo__text-big {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10px;
  }
  .promo__text-small {
    display: block;
    font-size: 12px;
    line-height: 14px;
  }
  .promo__image {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    left: auto;
    right: 20px;
    background-image: none;
    height: 100%;
    width: auto;
  }
  .promo__image::before {
    top: 40%;
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%);
  }
  .promo__image img {
    height: 100%;
    width: auto;
  }
  .promo__callback {
    display: flex;
    align-items: flex-start;
    margin-bottom: 80px;
  }
  .promo__callback-btn_desktop {
    display: block;
  }
  .promo__callback-btn_mobile {
    display: none;
  }
  .promo__callback p {
    font-size: 12px;
    line-height: 14px;
    opacity: 1;
    order: -1;
    margin-bottom: 10px;
  }
  .how-work {
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../img/bg-2-how-work.png");
    background-size: cover;
    background-color: #161616;
    background-size: auto 100%;
    color: #ffffff;
  }
  .how-work h2 {
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    padding-top: 96px;
  }
  .how-work__list {
    margin: 0 auto;
    padding: 30px 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1150px;
  }
  .how-work__list::before {
    display: none;
  }
  .how-work__item {
    position: relative;
    border: none;
    padding: 74px 0 53px 0;
    width: 100%;
    max-width: 293px;
    text-align: center;
  }
  .how-work__item-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    display: none;
    color: #ffffff;
    text-align: left;
    position: fixed;
    z-index: 50;
    padding: 40px 35px;
    background: #262626;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    min-width: 500px;
    max-width: 694px;
  }
  .how-work__item-text h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    padding-bottom: 34px;
  }
  .how-work__item-text p {
    font-size: 16px;
    line-height: 22px;
  }
  .how-work__item-text::before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    filter: blur(15px);
  }
  .how-work__item-text .icon-cross {
    display: inline-block;
    width: 62px;
    height: 62px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../img/icon-cross.png");
    background-size: contain;
    background-color: transparent;
    position: fixed;
    z-index: 60;
    top: -62px;
    right: -62px;
  }
  .how-work__item .row {
    display: block;
  }
  .how-work__item-number {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-size: 118px;
    line-height: 144px;
    opacity: 0.1;
    color: #ffffff;
    transition: all 0.3s ease;
  }
  .how-work__item-icon {
    position: relative;
    margin: 0 54px 0 54px;
    z-index: 2;
    width: 180px;
    height: 180px;
    border-radius: 200px;
    background: #1D1D1D;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }
  .how-work__item-icon_one {
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../img/icon-step-12.png");
    background-size: 89px 89px;
  }
  .how-work__item-icon_two {
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../img/icon-step-22.png");
    background-size: 89px 89px;
  }
  .how-work__item-icon_three {
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../img/icon-step-32.png");
    background-size: 89px 89px;
  }
  .how-work__item-icon_four {
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../img/icon-step-42.png");
    background-size: 89px 89px;
  }
  .how-work__item-icon_five {
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../img/icon-step-52.png");
    background-size: 89px 89px;
  }
  .how-work__item-icon_six {
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../img/icon-step-62.png");
    background-size: 89px 89px;
  }
  .how-work__item-title {
    font-weight: normal;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    padding-top: 20px;
  }
  .how-work__item-more {
    display: none;
  }
  .how-work__item:hover .how-work__item-number {
    opacity: 1;
    color: #FF834E;
    text-shadow: 5px 5px 5px rgba(239, 139, 84, 0.15);
  }
  .how-work__item:hover .how-work__item-icon {
    background-color: #ffffff;
  }
  .how-work__item:hover .how-work__item-icon_one {
    background-image: url("../img/icon-step-11.png");
  }
  .how-work__item:hover .how-work__item-icon_two {
    background-image: url("../img/icon-step-21.png");
  }
  .how-work__item:hover .how-work__item-icon_three {
    background-image: url("../img/icon-step-31.png");
  }
  .how-work__item:hover .how-work__item-icon_four {
    background-image: url("../img/icon-step-41.png");
  }
  .how-work__item:hover .how-work__item-icon_five {
    background-image: url("../img/icon-step-51.png");
  }
  .how-work__item:hover .how-work__item-icon_six {
    background-image: url("../img/icon-step-61.png");
  }
  .how-work__item:hover .how-work__item-title {
    display: none;
  }
  .how-work__item:hover .how-work__item-more {
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
  }
  .how-work__item:hover .how-work__item-more i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../img/icon-more.png");
    background-size: contain;
    background-color: transparent;
    margin-left: 3px;
  }
  .how-work__item:hover .how-work__item-more span {
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
  }
  .features {
    background-color: #161616;
    background-image: url("../img/bg-3-features.png"), url("../img/bg-geom.png");
    background-position: center center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    color: #ffffff;
  }
  .features-images {
    display: block;
    position: relative;
    height: 736px;
    width: 397px;
    margin: 0 auto -100px auto;
  }
  .features-images__phone {
    position: absolute;
    height: 736px;
    top: 0;
    right: 0;
  }
  .features-images__items {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .features-images__item {
    position: absolute;
    display: none;
    height: 520px;
    top: 60px;
    right: 53px;
  }
  .features-images__item_payment {
    display: block;
  }
  .features-images__item_security {
    right: 0;
  }
  .features-content {
    padding: 0;
  }
  .features-content__item {
    display: none;
    padding: 0 20px;
  }
  .features-content__item_payment {
    display: block;
  }
  .features-content__item h3 {
    font-weight: 600;
    font-size: 26px;
    line-height: 41px;
    padding-bottom: 30px;
  }
  .features-content__item p {
    font-size: 18px;
    line-height: 29px;
    padding-bottom: 30px;
  }
  .features-content__item::after {
    display: none;
  }
  .features-content__image {
    display: none;
  }
  .features-content__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
  }
  .features-content__logo img {
    margin-right: 40px;
  }
  .features-content__logo img:last-of-type {
    margin-right: 0;
  }
  .features__buttons {
    display: flex;
    justify-content: center;
    padding: 0 20px 76px 20px;
  }
  .features__buttons button {
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    background-color: transparent;
    color: #ffffff;
    margin-right: 100px;
    opacity: 0.4;
    transition: all 0.3s ease;
  }
  .features__buttons button:last-of-type {
    margin-right: 0;
  }
  .features__buttons button:hover,
  .features__buttons button.active {
    color: #FF834E;
    opacity: 1;
  }
  .cases {
    background-color: #161616;
    background-image: url("../img/bg-4-cases.png"), url("../img/bg-geom.png");
    background-position: center center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    color: #ffffff;
  }
  .cases__h2 {
    text-align: center;
    font-weight: normal;
    font-size: 32px;
    line-height: 41px;
    text-transform: uppercase;
    margin: 80px 0;
  }
  .cases__h2_desktop {
    display: block;
  }
  .cases__h2_mobile {
    display: none;
  }
  .cases__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 80px;
  }
  .cases__item {
    max-width: 315px;
    margin: 7.5px;
    box-sizing: border-box;
    padding-bottom: 27px;
  }
  .cases__item-image {
    height: 367px;
  }
  .cases__item-title {
    font-size: 26px;
    line-height: 30px;
    padding: 20px 0 10px 0;
  }
  .cases__item-type {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    opacity: 0.8;
  }
  .cases__feedback {
    background: #50386F;
    border-radius: 0;
    box-shadow: none;
    padding: 22px 30px;
    display: flex;
    align-items: center;
    max-width: 990px;
    overflow: hidden;
  }
  .cases__feedback::after {
    display: none;
  }
  .cases__feedback-modal {
    position: relative;
    background: linear-gradient(170.25deg, #8D5DCC -128.51%, #55329E 221.38%);
    box-shadow: 0 5px 10px rgba(94, 56, 158, 0.35);
    border: none;
    border-radius: 0;
    font-size: 18px;
    line-height: 22px;
    padding: 22px 62px 22px 25px;
    margin: -22px -30px -22px 10px;
    font-weight: normal;
    width: auto;
  }
  .cases__feedback-modal::before {
    display: block;
    position: absolute;
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../img/promo_arrow.png");
    background-size: contain;
    background-color: transparent;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
  }
  .cases__feedback-text {
    width: 100%;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
  }
  .cases__feedback-text .icon-love {
    display: none;
  }
  .clients {
    background-color: #161616;
    background-image: url("../img/bg-5-clients.png"), url("../img/bg-geom.png");
    background-position: center center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    color: #ffffff;
    padding-bottom: 200px;
  }
  .clients h2 {
    font-weight: normal;
    font-size: 32px;
    line-height: 41px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .clients__slider {
    height: 300px;
  }
  .clients__item {
    min-width: calc(50vw - 40px);
    height: 300px;
    padding-top: 80px;
  }
  .clients__item:hover .clients__item-number {
    color: #FF834E;
    text-shadow: 5px 5px 5px rgba(239, 139, 84, 0.15);
    opacity: 1;
  }
  .clients__item-number {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    font-weight: bold;
    font-size: 140px;
    line-height: 140px;
    opacity: 0.1;
    transition: all 0.3s ease;
  }
  .clients__toggle {
    width: 198px;
  }
  .clients__toggle_left,
  .clients__toggle_right {
    width: 74px;
    height: 74px;
  }
  .feedback {
    background-color: #161616;
    background-image: url("../img/bg-6-feedback.png"), url("../img/bg-geom.png");
    background-position: center center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    color: #ffffff;
  }
  .feedback .container {
    max-width: 1110px;
    padding: 0 20px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .feedback .icon-plus {
    width: 12px;
    height: 12px;
    margin-right: 5px;
  }
  .feedback__content {
    display: flex;
    flex-direction: column;
    max-width: 640px;
  }
  .feedback__content-text-info {
    order: -1;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
  }
  .feedback__content-text-prime {
    font-size: 31px;
    line-height: 40px;
    margin-bottom: 40px;
  }
  .feedback__content-box {
    margin: 0 0 80px 0;
    padding: 43px 40px;
    border-width: 4px;
    max-width: 635px;
  }
  .feedback__content-box p {
    font-size: 25px;
    line-height: 30px;
  }
  .feedback__item {
    font-size: 16px;
    line-height: 20px;
  }
  .feedback__form {
    max-width: 350px;
    background: #ffffff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }
  .feedback__form textarea,
  .feedback__form input {
    padding: 13px 20px;
  }
  .feedback__form-group_checkbox {
    color: #595959;
  }
  .page-footer__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
    padding: 50px 20px 66px 20px;
  }
  .page-footer__wrap .row-br {
    display: none;
  }
  .page-footer .row-br {
    display: table;
    width: 100vw;
    height: 40px;
  }
  .page-footer__logo {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../img/Logo-1.png");
    background-size: contain;
    background-color: transparent;
    height: 84px;
    width: 158px;
  }
  .page-footer__logo img {
    display: none;
  }
  .page-footer__map {
    width: 256px;
  }
  .page-footer__map-img {
    width: 100px;
    height: 100px;
  }
  .page-footer__contacts {
    margin-right: 114px;
  }
}
@media screen and (min-width: 1080px) {
  .page-header {
    height: 90px;
  }
  .page-header__phone {
    display: block;
    flex-grow: 1;
    padding-top: 22px;
    padding-left: 124px;
  }
  .page-header__phone-modal {
    border: 1px solid #FF834E;
    padding: 13px 26px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #FF834E;
    background-color: transparent;
    transition: all 0.3s ease;
  }
  .page-header__phone-modal:hover {
    color: #ffffff;
    background-color: #FF834E;
  }
  .page-header__btn-nav {
    display: none;
  }
  .page-header__nav {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    background-color: transparent;
  }
  .page-header__nav-list {
    margin: 0;
    padding: 0;
    height: 100%;
    align-items: center;
    flex-direction: row;
  }
  .page-header__nav-item {
    font-size: 14px;
    line-height: 17px;
    margin: 0;
  }
  .page-header__nav-item a {
    position: relative;
    padding: 36px 15px;
  }
  .page-header__nav-item a::after {
    display: block;
    position: absolute;
    content: "";
    width: 70%;
    border: 1px solid #ffffff;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .page-header__nav-item:hover a::after {
    opacity: 1;
  }
  .promo .container {
    box-sizing: content-box;
    padding: 0 30px;
    max-width: 1460px;
  }
  .promo__text {
    margin: 200px 0 241px 0;
    padding: 0;
  }
  .promo__text h2 {
    font-size: 22.6667px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  .promo__text h2 .icon-cart {
    width: 20px;
    height: 20px;
    margin-right: 12px;
  }
  .promo__text-big {
    font-size: 52px;
    line-height: 70px;
    width: 824px;
    margin-bottom: 30px;
  }
  .promo__text-small {
    font-size: 20px;
    line-height: 27px;
  }
  .promo__callback {
    margin-bottom: 180px;
  }
  .promo__callback p {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }
  .promo__callback-btn {
    padding: 22px 20px;
    font-size: 18px;
    line-height: 22px;
  }
  .promo__callback-btn::before {
    width: 62px;
    height: 65px;
  }
  .promo__callback-btn::after {
    width: 26px;
    height: 26px;
    right: 6px;
  }
  .promo__image {
    width: 585px;
    height: auto;
    top: 100px;
    right: 0;
    transform: none;
  }
  .promo__image::before {
    width: 585px;
    height: 769px;
    top: -40px;
    right: -40px;
    transform: none;
    left: auto;
  }
  .how-work h2 {
    font-size: 26px;
    line-height: 32px;
    padding: 0;
    margin: 89px 0 95px 0;
  }
  .how-work__list {
    padding: 0;
    margin-bottom: 177px;
  }
  .how-work__list::before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    display: inline-block;
    width: 1394px;
    height: 509px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../img/bg-path.png");
    background-size: contain;
    background-color: transparent;
    top: 37%;
    left: 41%;
  }
  .how-work__item {
    margin: 0 88px 48px 0;
    padding-bottom: 0;
  }
  .how-work__item-text {
    padding: 62px 53px;
  }
  .how-work__item-text h3 {
    font-size: 26px;
    line-height: 41px;
    margin-bottom: 30px;
    padding: 0;
  }
  .how-work__item-text p {
    font-size: 18px;
    line-height: 29px;
  }
  .how-work__item:nth-of-type(3),
  .how-work__item:nth-of-type(4) {
    margin-right: 0;
  }
  .how-work__item:nth-of-type(6),
  .how-work__item:nth-of-type(5),
  .how-work__item:nth-of-type(4) {
    margin-bottom: 0;
  }
  .how-work__item:nth-of-type(4) {
    order: 6;
  }
  .how-work__item:nth-of-type(5) {
    order: 5;
  }
  .features .container {
    max-width: 1147px;
    padding: 0 20px;
    box-sizing: content-box;
    position: relative;
  }
  .features-images {
    position: absolute;
    top: 0;
    left: 100px;
  }
  .features-content {
    margin: 137px 37px 214px 522px;
    min-height: 362px;
    box-sizing: border-box;
  }
  .features-content h3 {
    text-align: left;
    font-size: 26px;
    line-height: 41px;
    margin-bottom: 40px;
    padding: 0;
  }
  .features-content p {
    text-align: left;
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 40px;
    padding: 0;
  }
  .features-content__logo {
    justify-content: flex-start;
    padding: 0;
  }
  .features__buttons {
    margin-bottom: 109px;
    padding: 0;
  }
  .cases__h2 {
    font-size: 42px;
    line-height: 51px;
    margin: 120px 0;
  }
  .cases__list {
    margin-bottom: 85px;
  }
  .cases__item {
    opacity: 0.5;
    margin-bottom: 15px;
    transition: all 0.3s ease;
  }
  .cases__item:hover {
    opacity: 1;
    margin-bottom: 15px;
  }
  .cases__feedback {
    margin-bottom: 103px;
  }
  .clients {
    padding: 0;
  }
  .clients .container {
    max-width: 1663px;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .clients__slider {
    height: 417px;
    margin-bottom: 90px;
  }
  .clients__toggle {
    margin-bottom: 206px;
  }
  .clients__item {
    height: 417px;
    min-width: 353px;
    padding: 100px 101px 0 0;
  }
  .clients__item-number {
    right: 65px;
    font-size: 190px;
    line-height: 190px;
  }
  .clients__item-image {
    width: 317px;
    height: 317px;
  }
  .feedback .container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .feedback__content {
    flex-grow: 1;
    margin-right: 98px;
  }
  .feedback__content-text-info {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 30px;
  }
  .feedback__content-text-prime {
    font-size: 41px;
    line-height: 50px;
    margin-bottom: 60px;
  }
  .feedback__content-box {
    margin-bottom: 176px;
    padding: 52px 50px 44px 50px;
  }
  .feedback__form textarea,
  .feedback__form input {
    padding: 14px 20px;
  }
  .feedback__form-group {
    margin-bottom: 16px;
  }
  .page-footer {
    background-color: #202020;
    padding: 50px 0 66px 0;
    border: 1px solid transparent;
  }
  .page-footer__wrap {
    margin: 0 auto;
    padding: 0;
    justify-content: space-between;
  }
  .page-footer__wrap .row-br {
    display: none;
  }
  .page-footer__logo {
    margin: 0;
  }
  .page-footer__contacts {
    margin: 0;
    text-align: left;
  }
  .page-footer__social {
    margin: 0;
    text-align: left;
  }
}
@media screen and (min-width: 1080px) and (max-width: 1200px) {
  .page-header__phone {
    padding-left: 50px;
  }
  .promo__text {
    margin: 150px 0 180px 0;
  }
  .promo__text-big {
    font-size: 42px;
    line-height: 55px;
    width: 650px;
  }
  .promo__image {
    width: auto;
    height: 650px;
  }
  .promo__image::before {
    width: 450px;
    height: 750px;
    top: -110px;
    right: 0;
  }
  .features-content {
    margin: 137px 37px 184px 402px;
    min-height: 362px;
    box-sizing: border-box;
  }
  .features-images {
    left: 30px;
  }
  .clients__item {
    width: 50vw;
  }
  .feedback .container {
    padding: 0 30px;
  }
  .feedback__content {
    margin-right: 45px;
    max-width: 600px;
  }
  .page-footer .container {
    padding: 0 30px;
  }
}
